<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="px-20 mb-10">
    <h3 class="font-bold mb-5">All Hisaab Kitaab</h3>
    <div class="allfiles">
        
    </div>
    <% files.reverse().forEach(file => { %>
        
    <% }) %>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>